@font-face
{
    font-family: 'MyriadPro';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/MyriadPro.woff') format('woff'), url('../fonts/MyriadPro.woff2') format('woff2');
}

@font-face
{
    font-family: 'Sansation';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Sansation.woff') format('woff'), url('../fonts/Sansation.woff2') format('woff2');
}

@font-face
{
    font-family: 'Neoteric';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Neoteric.woff') format('woff'), url('../fonts/Neoteric.woff2') format('woff2');
}

img
{
    max-width: 100%;
    height: auto;

    vertical-align: bottom;
}

.video
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 56.25%;
}

.video iframe,
.video object,
.video embed
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-decoration: none;

    border: 0;

    scroll-behavior: smooth;
}

a,
input,
button
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    outline: none !important;
}

a,
button
{
    cursor: pointer;
}

button:hover
{
    opacity: .85;
}

.container
{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header
{
    position: absolute;

    width: 100%;
}

.header__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 70px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo
{
    -webkit-transition: .8s;
         -o-transition: .8s;
            transition: .8s;

    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.header__logo:hover
{
    cursor: pointer;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.header__navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.header__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.header__list li
{
    margin-top: 7px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.header__list a
{
    font-family: Sansation;
    font-size: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.header__list a:hover span
{
    width: 100%;
}

.header__list span
{
    display: block;

    width: 0;
    height: 2px;
    margin-top: 5px;

    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    background-color: #fff;
}

.header__media
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__media li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 3px;
    padding: 8px;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    border: 1px solid white;
    border-radius: 45%;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.header__media li:hover
{
    cursor: pointer;
}

.header__media li#fb:hover
{
    background-color: #3b5998;
}

.header__media li#tw:hover
{
    background-color: #1faee9;
}

.header__media li#g:hover
{
    background-color: #db4437;
}

.header__media a
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 10px;
    height: 10px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__media img
{
    display: block;
}

.home
{
    -webkit-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;

    background-image: url(../img/background/home-main_bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 100vh;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home__slider
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 20px;
    margin: 5px;
    padding: 1.2%;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    -webkit-box-shadow: 0 0 2px white;
            box-shadow: 0 0 2px white;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home__slider:hover
{
    cursor: pointer;

    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
            box-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

.home__slider img
{
    vertical-align: middle;
}

.home__info
{
    padding: 3% 7%;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
    text-align: center;

    border: 8px solid transparent;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
            box-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

.home__info:hover
{
    -webkit-box-shadow: 0 0 2px white;
            box-shadow: 0 0 2px white;
}

.home__info h1
{
    font-family: Sansation;
    font-size: 45px;
    font-weight: 700;

    margin-bottom: 25px;

    text-transform: uppercase;

    color: #fff;
}

.home__info h6
{
    font-family: Sansation;
    font-weight: 400;

    margin-bottom: 35px;

    opacity: .7;
    color: #fff;
}

.home__info button
{
    font-family: Sansation;
    font-size: 14px;
    font-weight: 400;

    position: relative;

    padding: 10px 30px;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
}

.home__info button:hover
{
    font-size: 20px;
    font-weight: 500;

    padding: 12px 36px;

    opacity: 1;
}

.about__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about__picture
{
    width: 100%;
    height: 100%;
}

.about picture
{
    width: 50%;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
}

.about__info
{
    width: 50%;
    padding: 3% 5% 3% 3%;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
}

.about__info h3
{
    font-family: Sansation;
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 3%;
    padding-bottom: 1%;

    text-transform: uppercase;

    color: #252525;
    border-bottom: 1px solid black;
}

.about__info p
{
    font-family: MyriadPro;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;

    margin-bottom: 3%;

    color: #000;
}

.about__info button
{
    font-family: NEOTERIC;
    font-size: 9.3px;
    font-weight: 700;

    padding: 10px 25px;

    text-transform: uppercase;

    color: #f7f7f7;
    border-radius: 2px;
    background-color: #05a0af;
}

.services
{
    background-color: #373737;
}

.services__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 50px 0;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.services__header h2
{
    font-family: Sansation;
    font-size: 40px;
    font-weight: 400;
    line-height: 26px;

    margin: 0 10px;

    text-transform: uppercase;

    color: #f7f7f7;
}

.services__line
{
    position: relative;

    height: 1px;

    background-color: #fff;

    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.services__line__subline
{
    position: absolute;

    width: 30%;
    height: 3px;
    margin-top: -1px;

    background-color: #fff;
}

.services__line__subline.left
{
    right: 0;
}

.services__line__subline.right
{
    left: 0;
}

.services__list-items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.services__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 15% 2%;

    text-align: center;

    background-color: #3d3d3d;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.3333%;
        flex: 1 1 33.3333%;
}

.services__item img
{
    margin-bottom: 12%;
}

.services__item h4
{
    font-family: Sansation;
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 6%;

    text-transform: uppercase;

    color: #f7f7f7;
}

.services__item p
{
    font-family: Sansation;
    font-size: 14px;

    margin-bottom: 4%;

    color: #f7f7f7;
}

.services__item button
{
    font-family: Sansation;
    font-size: 12px;

    padding: 1.5% 4.5%;

    color: #f7f7f7;
    border-radius: 2px;
    background-color: #959595;
}

.services__item.active
{
    background-color: #097e89;
}

.feedback
{
    background-color: #373737;
}

.feedback__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 50px 0;

    background-color: #373737;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.feedback__header h2
{
    font-family: Sansation;
    font-size: 40px;
    font-weight: 400;
    line-height: 26px;

    margin: 0 10px;

    text-transform: uppercase;

    color: #f7f7f7;
}

.feedback__line
{
    position: relative;

    height: 1px;

    background-color: #fff;

    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.feedback__line__subline
{
    position: absolute;

    width: 30%;
    height: 3px;
    margin-top: -1px;

    background-color: #fff;
}

.feedback__line__subline.left
{
    right: 0;
}

.feedback__line__subline.right
{
    left: 0;
}

.feedback__content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #3d3d3d;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.feedback__reviews
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0 8px;
    padding: 5%;

    text-align: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
        flex: 1 1 25%;
}

.feedback__reviews p
{
    font-family: Sansation;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;

    display: none;

    margin-bottom: 6%;

    -webkit-animation: feedbackReviews 1s;
            animation: feedbackReviews 1s;

    color: #cdc8c8;
}

.feedback__reviews p.active
{
    display: inline;
}

.feedback__reviews span
{
    width: 30%;
    height: 2px;
    margin-bottom: 10%;

    background-color: #fff;
}

.feedback__slider
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feedback__slider__btn
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}

.feedback__slider__btn:hover
{
    cursor: pointer;

    opacity: .8;
}

.feedback__slider__number
{
    font-family: Sansation;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    -webkit-animation: feedbackReviews .5s;
            animation: feedbackReviews .5s;

    color: #cdc8c8;
}

.feedback__team
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
        flex: 1 1 70%;
}

.feedback__member
{
    position: relative;

    width: 100%;
    margin: 2% 1%;
}

.feedback__member__picture
{
    width: 100%;
    min-width: 155px;
    height: 100%;
}

.feedback__member__info
{
    position: absolute;
    bottom: 5%;
    left: 5%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 90%;
}

.feedback__member__info div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 5%;

    background-color: #fff;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.feedback__member__value
{
    width: 20%;

    background-color: gray;
}

.feedback__member__text
{
    width: 80%;
    margin-left: 5%;

    background-color: gray;
}

.clients__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 50px 0;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.clients__header h2
{
    font-family: Sansation;
    font-size: 40px;
    font-weight: 400;
    line-height: 26px;

    margin: 0 10px;

    text-transform: uppercase;

    color: #656464;
}

.clients__line
{
    position: relative;

    height: 1px;

    background-color: #656464;

    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.clients__line__subline
{
    position: absolute;

    width: 30%;
    height: 3px;
    margin-top: -1px;

    background-color: #656464;
}

.clients__line__subline.left
{
    right: 0;
}

.clients__line__subline.right
{
    left: 0;
}

.clients__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.clients__item
{
    padding: 20px;
}

.clients picture
{
    margin: 5% 0;

    text-align: center;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
        flex: 1 1 25%;
}

.contact
{
    background-color: #097e89;
}

.contact__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 5% 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact__queries
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.contact__queries h4
{
    font-family: Sansation;
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;

    margin-bottom: 5%;

    color: #fff;
}

.contact__queries p
{
    font-family: Sansation;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    opacity: .7;
    color: #fff;
}

.contact__call
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    white-space: nowrap;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.contact__call input
{
    opacity: .7;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
}

.contact__call input::-webkit-input-placeholder
{
    font-family: Sansation;
    font-size: 15.5px;
    font-weight: 400;

    color: white;
}

.contact__call input::-moz-placeholder
{
    font-family: Sansation;
    font-size: 15.5px;
    font-weight: 400;

    color: white;
}

.contact__call input:-ms-input-placeholder
{
    font-family: Sansation;
    font-size: 15.5px;
    font-weight: 400;

    color: white;
}

.contact__call input::-ms-input-placeholder
{
    font-family: Sansation;
    font-size: 15.5px;
    font-weight: 400;

    color: white;
}

.contact__call input::placeholder
{
    font-family: Sansation;
    font-size: 15.5px;
    font-weight: 400;

    color: white;
}

.contact__call input[placeholder]
{
    padding: 2% 4%;

    color: white;
}

.contact__call button
{
    font-family: MyriadPro;
    font-size: 14px;
    font-weight: 600;

    padding: 2% 4%;

    color: #097e89;
    background-color: #fff;
}

.contact__data
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer
{
    background-color: #474747;
}

.footer__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 5% 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
}

.footer__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 10px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33%;
        flex: 1 1 33%;
}

.footer__item h5
{
    font-family: HelveticaLTStd;
    font-size: 15px;
    font-weight: 700;

    margin-bottom: 5px;

    text-transform: uppercase;

    color: #e5e5e5;
}

.footer__item div
{
    width: 30%;
    height: 2px;
    margin-bottom: 8px;

    background-color: #fff;
}

.footer__item ul li
{
    font-family: HelveticaLTStdCond;
    font-size: 13.1px;
    font-weight: 300;
    line-height: 25px;

    color: #fff;
}

.footer__contact
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.footer__email
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin: 20px 0;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__email input
{
    padding: 10px 16px;
}

.footer__email input[placeholder]
{
    font-family: HelveticaLTStdCond;
    font-size: 15px;
    font-weight: 300;

    color: #4f4e4e;
}

.footer__email button
{
    font-family: HelveticaLTStdCond;
    font-size: 16.9px;
    font-weight: 300;

    padding: 10px 16px;

    color: #fff;
    background-color: #0072bc;
}

.footer__media
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__soc
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 45px;
    height: 45px;
    padding: 10px;

    border-radius: 50%;
    background-color: #2e2e2e;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__soc img
{
    vertical-align: middle;
}

.footer__soc:hover
{
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
}

@-webkit-keyframes feedbackReviews
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes feedbackReviews
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@media (max-width: 1200px)
{
    .container
    {
        max-width: 970px;
    }
}

@media (max-width: 992px)
{
    .container
    {
        max-width: 750px;
    }
}

@media (max-width: 767px)
{
    .container
    {
        max-width: none;
    }

    section,
    footer
    {
        padding: 20px;
    }

    .header
    {
        position: fixed;
        z-index: 3;

        background-color: #4a3e6e;
    }

    .header__body
    {
        height: 60px;
    }

    .header__mask
    {
        position: absolute;
        z-index: 4;

        width: 100%;
        height: 100%;

        border-bottom: 1px solid #312365;
        background-color: #4a3e6e;
    }

    .header__logo
    {
        z-index: 5;
    }

    .header picture
    {
        z-index: 5;
    }

    .header__navigation
    {
        position: absolute;
        z-index: 3;
        top: -385px;
        right: 0;
        left: 0;

            flex-direction: column;

        width: 100%;

        -webkit-transition: .3s;
             -o-transition: .3s;
                transition: .3s;

        border-bottom: 1px solid #312365;
        background-color: #4a3e6e;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .header__navigation.active
    {
        top: 60px;
    }

    .header__list
    {
        z-index: 3;

            flex-direction: column;

        margin: 15px 0;

        text-align: center;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .header__list li
    {
        margin-bottom: 10px;
    }

    .header__list a
    {
        font-size: 26px;
    }

    .header__list a:hover span
    {
        width: 0;
    }

    .header__media
    {
        margin-bottom: 15px;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__media a
    {
        width: 15px;
        height: 15px;
    }

    .header__burger
    {
        position: relative;
        z-index: 5;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 40px;
        height: 30px;

        -webkit-transition: .5s;
             -o-transition: .5s;
                transition: .5s;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header__burger div
    {
        width: 100%;
        height: 3px;

        -webkit-transition: .5s;
             -o-transition: .5s;
                transition: .5s;

        border-radius: 3px;
        background-color: #fff;
    }

    .header__burger.active
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__burger.active div
    {
        position: absolute;
    }

    .header__burger.active #line1
    {
        -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
                transform: rotate(225deg);
    }

    .header__burger.active #line2
    {
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);

        opacity: 0;
    }

    .header__burger.active #line3
    {
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }

    .home__info h1
    {
        font-size: 35px;
    }

    .about
    {
        padding: 0;
    }
}

@media (max-width: 576px)
{
    section,
    footer
    {
        padding: 10px;
    }

    .header__body
    {
        height: 50px;
    }

    .header__navigation.active
    {
        top: 50px;
    }

    .about__body
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .about picture
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .about__info
    {
        padding: 50px 10px;

        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .feedback__content
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .feedback__team
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .feedback__member
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
    }

    .clients picture
    {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    }

    .contact__body
    {
            flex-direction: column;

        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .contact__queries
    {
        margin-bottom: 20px;

        -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    }

    .contact__call
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    }

    .contact__data
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .contact__data input
    {
        width: 100%;
    }

    .footer__menu
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .footer__contact
    {
        width: 100%;
    }

    .footer__email
    {
        width: 100%;
    }

    .footer__email input
    {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
    }

    .footer__email button
    {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    }
}
@supports (-webkit-appearance:none)
{
    .home
    {
        background-image: url(../img/background/home-main_bg1.webp);
    }
}

@media (max-width: 1200px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 992px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 767px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 576px)
{
    @supports (-webkit-appearance:none)
    {
    }
}
